<!-- Ubicaciones -->
<section id="ubicaciones" class="py-16 bg-white">
    <div class="container mx-auto px-4">
        <h2 class="text-3xl font-bold text-center mb-4">Encuentra tu centro Medical & Care</h2>
        <p class="text-xl text-center text-gray-600 mb-12">Selecciona una ciudad para ver la dirección y el mapa.</p>

        <div class="flex justify-center border-b mb-8">
            <button id="btn-quito" class="tab-btn active-tab py-4 px-8 text-lg font-semibold text-blue-800 border-b-2 border-blue-800">Quito</button>
            <button id="btn-santo-domingo" class="tab-btn py-4 px-8 text-lg font-semibold text-gray-500">Santo Domingo</button>
        </div>

        <div id="locations-content">
            <div id="content-quito" class="location-content">
                <div class="grid grid-cols-1 md:grid-cols-2 gap-8 items-center">
                    <div>
                        <h3 class="text-2xl font-bold text-blue-800 mb-2">Sucursal Quitumbe</h3>
                        <p class="text-gray-700 mb-4">Av. Amaru Ñan y Llira Ñan, ciudadela Quitumbe, diagonal a la Plataforma Gubernamental.. </p>
                        <a href="https://maps.app.goo.gl/v1eCvJABUk8u44gH7" target="_blank" class="inline-block bg-blue-800 text-white font-bold py-3 px-6 rounded-lg hover:bg-blue-900 transition-colors">
                            <i class="fas fa-map-marker-alt mr-2"></i>Cómo llegar
                        </a>
                    </div>
                    <div class="h-80 rounded-lg overflow-hidden shadow-xl">
                        <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1YZ06PVnpo14Q6f3etvPIMyWYT5BLhhk&ehbc=2E312F&noprof=1" width="640" height="480"></iframe>
                    </div>
                </div>
            </div>
            <div id="content-santo-domingo" class="location-content hidden">
                <div class="grid grid-cols-1 md:grid-cols-2 gap-8 items-center">
                    <div>
                        <h3 class="text-2xl font-bold text-blue-800 mb-2">Sucursal Santo Domingo</h3>
                        <p class="text-gray-700 mb-4">Av. Río Lelia y Las Balsas. </p>
                        <a href="https://maps.app.goo.gl/GgdZbDabsHntUBw88" target="_blank" class="inline-block bg-blue-800 text-white font-bold py-3 px-6 rounded-lg hover:bg-blue-900 transition-colors">
                            <i class="fas fa-map-marker-alt mr-2"></i>Cómo llegar
                        </a>
                    </div>
                    <div class="h-80 rounded-lg overflow-hidden shadow-xl">
                         <iframe src="https://www.google.com/maps/d/u/0/embed?mid=15TpqRWL2RAVi5cEn18guYiNW6Ss65qs&ehbc=2E312F&noprof=1" width="640" height="480"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
